.registerFormContainer{
   margin-top: 2%;
   width: 90% !important;
   max-width: 600px;
}
.registerFormTable{
    margin-top:20px;
}
.table td{
    vertical-align:middle !important;
}
.searchForm{
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
}
.visitsTable{
    margin-top:30px;
}
.info{
    font-weight:bold;
}
.updateVisitForm{
    display:inline !important;
}
@media (max-width: 550px) {
    .registerFormContainer {
        width:96% !important;
           text-align:center;

    }
    .searchForm{
    width:90%;}
}
