<div class="navbar-header navbar-default">
    <button type="button" class="navbar-toggle collapsed navbar-default" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand" href="#" style = "padding:0 !important;"><div class = "siluett"></div></a>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse navbar-default" id="bs-example-navbar-collapse-1">
    <label></label>
    <ul class="nav navbar-nav">
        <li id = "statisics"><a href="/">Registreeri vastuvõtule</a></li>
        <li id = "addgame"><a href="/visits/">Vaata registreeringuid</a></li>
    </ul>
</div>