<html>
<head th:replace="fragments/header :: header"></head>
<body>
<div th:replace="fragments/navbar :: div"></div>
<div  class = "container registerFormContainer">
    <h1>Registreeritud visiidid</h1>
    <span th:each="info: ${info}" class = "info text-danger">
            <span th:text="*{info}"></span>
    </span>
        <div class = "from-group form-inline searchForm">
            <input type="text" class="form-control searchString" placeholder="Otsi" />
            <button type="submit" class="btn btn-primary btn-md" onclick = "searchForVisits($('.searchString').val());">Otsi</button>
        </div>


    <table class="table table-striped visitsTable">
        <thead>
            <tr>
                <th th:text="#{arsti.nimi}">arsti.nimi</th>
                <th th:text="#{visiidi.kuupaev}">visiidi.kuupaev</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-row" th:each="visit, index: ${visits}">
                <td class = "dentistName" th:text="${visit.dentistName}"></td>
                <td class = "visitDate" id = "visitDate">
                    <script  th:inline="javascript">
                        /*<![CDATA[*/
                            var visitDate = new Date([[${visit.visitDate}]]);
                        /*]]>*/
                        window.document.write(("0" + visitDate.getDate()).slice(-2) + "." + ("0"+(visitDate.getMonth()+1)).slice(-2) + "." +  visitDate.getFullYear() + " "+  ("0" + visitDate.getHours()).slice(-2) + ":" + ("0" + visitDate.getMinutes()).slice(-2));
                    </script>
                </td>
                <td><a th:href="@{'/visits/' + ${visit.id}}"    ><button class = "btn btn-default btn-sm">VAATA LÄHEMALT</button></a></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>